<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VueJS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">

        <style>
            .done{
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <ul>
                <li 
                    v-for="item in shopping_list" 
                    :class="[item.completed ? 'done' : '']" 
                    v-on:click="item.completed = !item.completed"
                >
                    {{ item.name }}
                    <button v-if="item.completed" >Delete</button>
                </li>
            </ul>

            <div>
                <input 
                    placeholder="Name for the new item:" 
                    type="text" 
                    v-model="new_item_title"
                >
                <button v-on:click="addNewItem()">Add</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
        <script src="vue.js"></script>  
    </body>
</html>